// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-block {float: none !important}
body{ margin-top:20px; }

.body-text{
  font-size: 20px;
}
.body-text1 div{
  font-size: 20px;
}

.start{
  text-align: start;
}

.end{
  text-align: end;
}

.body-text div{
  padding: 10px;
}
